@import "../node_modules/storm-react-diagrams/dist/style.css";

html, body {
    /*
    height: 100%;
    */
}

#root {
    height: 100%;
}

.ui.grid {
    height: 100%;
}

.ui.cards {
    margin: 0em 0em !important;
}

.hashRouter {
    display: block;
    height: 100%;
}

.configuration {
    display: flex;
    height: 100%;
    width: 100%;
}

.configurationMenu {
    display: flex;
    height: 100%;
    width: 230px;
}

.configurationContent {
    display: flex;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    height: 100%;
}

.monitor {
    display: flex;
    height: 100%;
    width: 100%;
}

.monitorMenu {
    display: flex;
    height: 100%;
    width: 230px;
    background-color: #1b1c1d;
}

.monitorContent {
    display: flex;
    box-sizing: border-box;
    background: #333;
    padding: 2px;
    overflow-y: scroll;
    width: 100%;
    position: relative;
}

.tray-item{
    color: rgba(255,255,255,.5);
    font-family: Helvetica, Arial;
    padding: 5px;
    margin: 0px 10px;
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.storm-diagrams-canvas {
    background-color: #333 !important;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
    background-size: 30px 30px;
}

/* Model window clipping workaround*/
.visible.transition {
    display: inline-grid !important;
}

/* Form buttons workaround */
.formButtonContainer {
    text-align: right;
}

.formButtonContainer > .button {
    margin-left: .75em;
}

/* Storm diagrams css*/
.storm-diagrams-canvas .basic-node {
    background-color: #1e1e1e;
    border-radius: 5px;
    font-family: Arial;
    color: white;
    border: none !important;
    overflow: visible;
    font-size: 11px;
}

.storm-diagrams-canvas div.property {
    margin: 0px 5px 0 5px;
}

.storm-diagrams-canvas .port {
    width: 7px;
    height: 7px;
    border-radius: 7px;
    margin: 0px 5px 0px 5px;
    background: rgba(255,255,255,255);
}

.storm-diagrams-canvas .basic-node .title {
    background: rgba(0,0,0,0.3);
    white-space: nowrap;
    display: block;
}

.storm-diagrams-canvas .basic-node .title .name {
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0px 5px 0px 5px;
}

.storm-diagrams-canvas .basic-node .title .id {
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 9px;
    padding: 0px 5px 0px 5px;
}

.storm-diagrams-canvas .basic-node .ports .in-port .name, .storm-diagrams-canvas .basic-node .ports .out-port .name {
    padding: 0px 0px !important;
}

.ui.menu {
    border-radius: 0px;
}

.monitorWidgetContainer {
    margin: 5px 5px 5px 5px !important;
}

.spikeFrequencyWidgetBody {
    background-color: #797e83 !important;
}

.ui.card > .content {
    padding: 0em 0em !important;
}

.collapse {
   display: none
 }

 .collapse.in {
   display: block
 }
